@page "/"
@using timeline.Model
@inject HttpClient Http

<div class="page">
  <div class="timeline">
    
    @foreach (var t in TimelineDisplay)
    {
      <TimeGroup Record=@t/>
    }  
        
  </div>
</div>

@code
{
  
  private TimelineGroup[] TimelineDisplay { get; set; } = {};
  
  protected override async void OnInitialized()
  {

    //https://stackoverflow.com/questions/63074021/how-to-read-files-from-a-directory-in-blazor-webassembly
    var directories = 
      await 
        Http
          .GetStringAsync("Timeline/buildtimeline.txt");
    var events = directories.Split("\n");

    var timeEventList = new List<TimelineGroup>();
    foreach (var listedEvent in events)
    {
      var time = await Http.GetStringAsync($"Timeline/{listedEvent}/time.txt");
      var parseTime = DateTime.ParseExact(time, "dd-MM-yyyy", null);
      var title = await Http.GetStringAsync($"Timeline/{listedEvent}/title.txt");
      var content = await Http.GetStringAsync($"Timeline/{listedEvent}/content.txt");
      var imagePath = $"Timeline/{listedEvent}/image.png".Replace("\r", "");
      
      timeEventList.Add(new TimelineGroup(parseTime.Day.ToString(), parseTime.ToString("MMMM"), parseTime.Year.ToString(), title, content, imagePath));
    }
    TimelineDisplay = timeEventList.ToArray();
    StateHasChanged();
    base.OnInitialized();
    
    
  }

  
}
