@page "/"
@inject HttpClient Http

<div class="page">
  <div class="timeline">
    
    @foreach (var t in TimelineDisplay)
    {
      <TimeGroup Day="@t.Day" Month="@t.Month" Year="@t.Year" Content="@t.Content"/>
    }  
        
  </div>
</div>

@code
{
  private record TimelineGroup(string Day, string Month, string Year, string Content);

  private TimelineGroup[] TimelineDisplay { get; set; } = {};
  
  protected override async void OnInitialized()
  {

    //https://stackoverflow.com/questions/63074021/how-to-read-files-from-a-directory-in-blazor-webassembly
    var directories = 
      await 
        Http
          .GetStringAsync("Timeline/buildtimeline.txt");
    var events = directories.Split("\r\n");

    var timeEventList = new List<TimelineGroup>();
    foreach (var listedEvent in events)
    {
      var time = await Http.GetStringAsync($"Timeline/{listedEvent}/time.txt");
      var parseTime = DateTime.ParseExact(time, "dd-MM-yyyy", null);
      var content = await Http.GetStringAsync($"Timeline/{listedEvent}/content.txt");
      timeEventList.Add(new (parseTime.Day.ToString(), parseTime.ToString("MMMM"), parseTime.Year.ToString(), content));
    }
    TimelineDisplay = timeEventList.ToArray();
    StateHasChanged();
    base.OnInitialized();
    
    
  }

  
}
